body {
  background-color: rgb(94, 240, 250);
  display: flex;
  flex-direction: column;
}

h1 {
  color: rgb(8, 8, 8);
  text-align: center;
}

p {
  font-family: Verdana, sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
}

/* Align image to the right using Flexbox */
.right-img {
  align-self: flex-end;
  margin: 10px;
}
